<%- include header %>

  </head>

  <body>
    <div class="container">

      <%- include menu.html %>


        <div>
          <h1>Welcome</h1>
          <p>Hello Dashboard</p>
        </div>

    </div>
    <%- include footer %>