<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>COMP5322 - Group Project</title>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel='stylesheet' href='../static/css/custom.css' />

    <!--   <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet"> -->
    <link href="../static/css/video_new.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

