<!DOCTYPE html>
<html lang="en">
<head>
    {{include './head.html' data}}
    <style>
        .my_drag_area{
            height: 500px;
        }
    </style>
</head>
<body>
    <div class="modal fade" tabindex="-1" role="dialog" id="uploaded_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                </div>
                <div class="modal-body">
                    <p>The file has been uploaded.</p>
                    <p>The progress of segmentation:</p>
                    <div class="progress" >
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="segmentation_progress"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Start to convert the video</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="d-flex justify-content-center align-items-center my_drag_area">
            <div class="card text-white bg-info w-75 h-75">
                <div class="card-body" id="drag-area">
                    <h1 class="card-title text-center mb-5">Please drag the file on it.</h1>
                    <p class="card-text lead text-center">
                        Please make sure that you use a modern browser.
                    </p>
                </div>
            </div>
        </div>
        <div class="row w-75 mx-auto d-none">
            <div class="col-2">
                <input type="button" class="btn btn-primary" value="Select a File" id="browse">
            </div>
        </div>
        <div class="row w-75 mx-auto">
            <div class="col-4">
                <span>The progress of uploading:</span>
            </div>
            <div class="col-8">
                <div class="progress h-100" >
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="uploading_progress"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function segmentation_modal(){
            $('#uploaded_modal').modal({
                backdrop:'static'
            })
            let ws = new WebSocket('ws://localhost:8000/test_api')
            ws.onmessage = function(e){
                let progress_percentage = parseInt(e.data,10)
                if(isNaN(progress_percentage) === false){
                    $('#segmentation_progress').width(`${progress_percentage}%`)
                }else{
                    console.error('The data from server is wrong, its value:',progress_percentage)
                }
            }
        }
        let uploader = new plupload.Uploader({
            url : '/upload',
            // 一定要有browse_button哦
            browse_button : 'browse',
            drop_element:'drag-area'
        })
        uploader.init()
        uploader.bind('FilesAdded',function(uploader,files){
            uploader.start()
        })
        uploader.bind('UploadProgress',function(uploader,file){
            $('#uploading_progress').css('width',`${file.percent}%`)
            if(file.percent === 100){
                segmentation_modal();
            }
        })
    </script>
</body>
</html>